In [1]:
import pandas as pd
import requests
import yfinance as yf
import json

In [2]:
df_stock_description = pd.read_csv('/Users/vishnu/Desktop/Erasmus/Fall/Data Integration and Visualization/Data/kaggle_s&p/sp500_companies.csv').copy()
df_stock_description.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,233.85,3555478994944,1.317810e+11,0.049,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.065624
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,131.60,3228148170752,6.118400e+10,1.224,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.059582
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,418.74,3112510947328,1.294330e+11,0.152,Redmond,WA,United States,228000.0,Microsoft Corporation develops and supports so...,0.057448
3,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,166.90,2045092429824,1.154780e+11,0.136,Mountain View,CA,United States,179582.0,Alphabet Inc. offers various products and plat...,0.037746
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,165.46,2044655435776,1.154780e+11,0.136,Mountain View,CA,United States,179582.0,Alphabet Inc. offers various products and plat...,0.037738

In [3]:
stock_symbols = list(df_stock_description['Symbol'].unique())
stock_names = list(df_stock_description['Shortname'].unique())

In [11]:

stock_symbol = stock_symbols[1:100]
stock_name = stock_names[1:100]

print(stock_symbol)
print(stock_name)

['NVDA', 'MSFT', 'GOOG', 'GOOGL', 'AMZN', 'META', 'BRK-B', 'LLY', 'AVGO', 'TSLA', 'WMT', 'JPM', 'V', 'XOM', 'UNH', 'ORCL', 'MA', 'HD', 'PG', 'COST', 'JNJ', 'ABBV', 'BAC', 'KO', 'NFLX', 'MRK', 'CRM', 'CVX', 'AMD', 'TMUS', 'PEP', 'ACN', 'LIN', 'TMO', 'MCD', 'ADBE', 'CSCO', 'IBM', 'WFC', 'GE', 'ABT', 'AXP', 'DHR', 'QCOM', 'NOW', 'BX', 'CAT', 'PM', 'VZ', 'TXN', 'MS', 'UBER', 'AMGN', 'INTU', 'DIS', 'NEE', 'ISRG', 'PFE', 'RTX', 'SPGI', 'GS', 'CMCSA', 'LOW', 'AMAT', 'T', 'UNP', 'BLK', 'PGR', 'BKNG', 'LMT', 'HON', 'SYK', 'ETN', 'TJX', 'SCHW', 'BSX', 'KKR', 'VRTX', 'ANET', 'NKE', 'COP', 'PANW', 'C', 'ADP', 'CB', 'MU', 'MDT', 'UPS', 'PLD', 'ELV', 'ADI', 'REGN', 'FI', 'MMC', 'DE', 'SBUX', 'AMT', 'BMY', 'GILD']
['NVIDIA Corporation', 'Microsoft Corporation', 'Alphabet Inc.', 'Amazon.com, Inc.', 'Meta Platforms, Inc.', 'Berkshire Hathaway Inc. New', 'Eli Lilly and Company', 'Broadcom Inc.', 'Tesla, Inc.', 'Walmart Inc.', 'JP Morgan Chase & Co.', 'Visa Inc.', 'Exxon Mobil Corporation', 'UnitedHealth Group Incorporated', 'Oracle Corporation', 'Mastercard Incorporated', 'Home Depot, Inc. (The)', 'Procter & Gamble Company (The)', 'Costco Wholesale Corporation', 'Johnson & Johnson', 'AbbVie Inc.', 'Bank of America Corporation', 'Coca-Cola Company (The)', 'Netflix, Inc.', 'Merck & Company, Inc.', 'Salesforce, Inc.', 'Chevron Corporation', 'Advanced Micro Devices, Inc.', 'T-Mobile US, Inc.', 'Pepsico, Inc.', 'Accenture plc', 'Linde plc', 'Thermo Fisher Scientific Inc', "McDonald's Corporation", 'Adobe Inc.', 'Cisco Systems, Inc.', 'International Business Machines', 'Wells Fargo & Company', 'GE Aerospace', 'Abbott Laboratories', 'American Express Company', 'Danaher Corporation', 'QUALCOMM Incorporated', 'ServiceNow, Inc.', 'Blackstone Inc.', 'Caterpillar, Inc.', 'Philip Morris International Inc', 'Verizon Communications Inc.', 'Texas Instruments Incorporated', 'Morgan Stanley', 'Uber Technologies, Inc.', 'Amgen Inc.', 'Intuit Inc.', 'Walt Disney Company (The)', 'NextEra Energy, Inc.', 'Intuitive Surgical, Inc.', 'Pfizer, Inc.', 'RTX Corporation', 'S&P Global Inc.', 'Goldman Sachs Group, Inc. (The)', 'Comcast Corporation', "Lowe's Companies, Inc.", 'Applied Materials, Inc.', 'AT&T Inc.', 'Union Pacific Corporation', 'BlackRock, Inc.', 'Progressive Corporation (The)', 'Booking Holdings Inc. Common St', 'Lockheed Martin Corporation', 'Honeywell International Inc.', 'Stryker Corporation', 'Eaton Corporation, PLC', 'TJX Companies, Inc. (The)', 'Charles Schwab Corporation (The', 'Boston Scientific Corporation', 'KKR & Co. Inc.', 'Vertex Pharmaceuticals Incorpor', 'Arista Networks, Inc.', 'Nike, Inc.', 'ConocoPhillips', 'Palo Alto Networks, Inc.', 'Citigroup, Inc.', 'Automatic Data Processing, Inc.', 'Chubb Limited', 'Micron Technology, Inc.', 'Medtronic plc.', 'United Parcel Service, Inc.', 'Prologis, Inc.', 'Elevance Health, Inc.', 'Analog Devices, Inc.', 'Regeneron Pharmaceuticals, Inc.', 'Fiserv, Inc.', 'Marsh & McLennan Companies, Inc', 'Deere & Company', 'Starbucks Corporation', 'American Tower Corporation (REI', 'Bristol-Myers Squibb Company', 'Gilead Sciences, Inc.', 'HCA Healthcare, Inc.']

In [6]:
#what you do is take the stock symbol and get its max history
st = yf.Ticker(stock_symbol)
his = st.history('max')

#this returns a dataframe and at that it also makes the date the index, so we reset that
df_reset = his.reset_index()

df_reset = df_reset.rename(columns={'index': 'date'})
df_reset['Date'] = df_reset['Date'].dt.strftime('%Y-%m-%d')

In [7]:
df_reset.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.040125,0.044783,0.035587,0.037618,2714688000,0.0,0.0
1,1999-01-25,0.040603,0.042036,0.037618,0.041559,510480000,0.0,0.0
2,1999-01-26,0.042036,0.042872,0.037737,0.038334,343200000,0.0,0.0
3,1999-01-27,0.038453,0.039409,0.036303,0.038215,244368000,0.0,0.0
4,1999-01-28,0.038215,0.038453,0.037856,0.038095,227520000,0.0,0.0

In [8]:
date = df_reset['Date'][100]
dat =str(date).split(' ')[0]
dat

'1999-06-16'

In [9]:
list = []
dates = df_reset['Date'][1]
for date in dates:

       url = (f'https://newsapi.org/v2/everything?'
              'q={stock_name}&'
              'from={dat}&'
              'sortBy=popularity&'
              'apiKey=89d5369bc04e40f3b87642a6eca38c4c')
       response = requests.get(url)
       list.append(response.text)
list.count(None) == len(list)

False

In [10]:
list

['{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}',
 '{"status":"ok","totalResults":0,"articles":[]}']

In [ ]:
response_string = response.text

# Parse the string into a dictionary
response_dict = json.loads(response_string)

# Now you can access the 'articles' key
articles = response_dict['articles']